<section>
    <div class="header-page px-2">
        <div class="row align-items-center">
            <div class="col-8">
                <h4>Recipes <span>item</span></h4>
                <p class="mb-0">You can now add your items that any user can order it from the Application and you can
                    edit</p>
            </div>
            <div class="col-4 text-end">
                <img src="../../../../assets/images/menu-avatar.svg" alt="">
            </div>
        </div>
    </div>


    <div class="container mt-4 row d-flex align-items-center">
        
        <div class="row justify-content-between">
            <div class="col-3">
                <h6>Recipes Table Details</h6>
                <p>You can check all details</p>
            </div>
            
        </div>
        

        <div class="col-3">

            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
                <input [(ngModel)]="searchkey" (keyup.enter)="getRecipes()" type="text" class="form-control"
                    placeholder="Search By Name" aria-label="Username" aria-describedby="basic-addon1">

            </div>
        </div>
        <div class="col-3">
            <mat-form-field>
                <mat-label>Choose Tag</mat-label>
                <mat-select [(ngModel)]="tagId" (selectionChange)="getRecipes()">
                    <mat-option [value]="0">All</mat-option>
                    <mat-option *ngFor="let item of tags" [value]="item.id">{{item.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-3">
            <mat-form-field>
                <mat-label>Choose Category</mat-label>
                <mat-select [(ngModel)]="categoryId" (selectionChange)="getRecipes()">
                    <mat-option [value]="0">All</mat-option>
                    <mat-option *ngFor="let item of categories" [value]="item.id">{{item.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        
    </div>

    <div *ngIf="tableData.length > 0">
        <table class="table table-striped text-center">
            <thead>
                <th>Name</th>
                <th>Price</th>
                <th>Image</th>
                <th>Tag</th>
                <th>Category</th>
                <th>Description</th>
                <th>Creation Date</th>
                <th>Modification Date</th>
                <th>Actions</th>
            </thead>
            <tbody class="text-center">
                <tr *ngFor="let item of tableData">
                    <td>{{item.name}}</td>
                    <td>{{item.price}}</td>
                    <td class="w-25">
                        <img [src]="imagePath+item.imagePath" class="w-25" alt="">
                    </td>
                    <td>{{item.tag.name}}</td>
                    <td>
                        <span *ngFor="let item of item.category">{{item.name}}</span>
                    </td>
                    <td>{{item.description}}</td>
                    <td>{{item.creationDate | date : 'dd-MM-yyyy, h:mm a'}}</td>
                    <td>{{item.modificationDate | date: 'dd-MM-yyyy, h:mm a'}}</td>
                    <td><a class="myPointer text-main" (click)="openRecipeDetails(item)"><i class="fa-solid fa-eye"></i></a></td>
                </tr>
            </tbody>
        </table>
        <mat-paginator [length]="tableResponse?.totalNumberOfRecords" [pageIndex]="tableResponse?.pageNumber"
            [pageSize]="tableResponse?.pageSize" [pageSizeOptions]="pageSizeOptions" (page)="handlePageEvent($event)"
            aria-label="Select page">
        </mat-paginator>

    </div>

    <div *ngIf="tableData.length == 0">
        <div class="text-center">
            <img src="../../../../assets/images/nodata.svg" alt="">
            <h5>No Data</h5>
        </div>
    </div>
</section>
