<section id="resetPassword">
    <div class="auth-form py-5">
        <div class="text-center">
            <img src="../../../assets/images/logo.svg" alt="">
        </div>

        <div class="px-5">
            <h2>Reset Password</h2>
            <p>Welcome Back! Please enter your details</p>

            <form action="" [formGroup]="resetForm" (ngSubmit)="onSubmit(resetForm)">

                <div class="d-flex flex-column justify-content-center align-items-center">

                    <div class="col-12">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-envelope"></i></span>
                            <input formControlName="email" type="text" class="form-control" placeholder="Enter Your E-mail" aria-label="Username"
                                aria-describedby="basic-addon1">
                                <!-- <div *ngIf="registerForm.get('email')?.getError('required')"></div> -->
                        </div>
                        <div *ngIf="resetForm.get('email')?.errors && resetForm.get('email')?.touched" class="alert alert-danger p-1 small w-50 mx-auto">
                            <p class="mb-0" *ngIf="resetForm.get('email')?.getError('required')">Email is required</p>
                            <p class="mb-0" *ngIf="resetForm.get('email')?.getError('email')">Invalid Format</p>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-lock"></i></span>
                            <input formControlName="seed" type="text" class="form-control" placeholder="Enter Your OTP" aria-label="OTP"
                                aria-describedby="basic-addon1">
                                <!-- <div *ngIf="resetForm.get('userName')?.getError('required')"></div> -->
                        </div>
                        <div *ngIf="resetForm.get('seed')?.errors && resetForm.get('seed')?.touched" class="alert alert-danger p-1 small w-50 mx-auto">
                            <p class="mb-0" *ngIf="resetForm.get('seed')?.getError('required')">OTP is required</p>
                        </div>
                    </div>
                    
                    <div class="col-12">
                        <div class="input-group mb-3 field">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-lock"></i></span>
                            <input formControlName="password" [type]="showpassword?'text':'password'" class="form-control" placeholder="Enter Your Password" aria-label="password"
                                aria-describedby="basic-addon1">
                                <i (click)="toggleShow()" class="fa-solid fa-eye eye" *ngIf="!showpassword"></i>
                                <i (click)="toggleShow()" class="fa-solid fa-eye-slash eye" *ngIf="showpassword"></i>
                        </div>
                        <div *ngIf="resetForm.get('password')?.errors && resetForm.get('password')?.touched" class="alert alert-danger p-1 small w-50 mx-auto">
                            <p class="mb-0" *ngIf="resetForm.get('password')?.getError('required')">password is required</p>
                            <p class="mb-0" *ngIf="resetForm.get('password')?.getError('pattern')">Must be 6 char</p>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="input-group mb-3 field">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-lock"></i></span>
                            <input formControlName="confirmPassword" [type]="showpassword?'text':'password'" class="form-control" placeholder="Confirm Password" aria-label="confirmPassword"
                                aria-describedby="basic-addon1">
                                <i (click)="toggleShow()" class="fa-solid fa-eye eye" *ngIf="!showpassword"></i>
                                <i (click)="toggleShow()" class="fa-solid fa-eye-slash eye" *ngIf="showpassword"></i>
                        </div>
                        <div *ngIf="resetForm.get('confirmPassword')?.errors && resetForm.get('confirmPassword')?.touched" class="alert alert-danger p-1 small w-50 mx-auto">
                            <p class="mb-0" *ngIf="resetForm.get('confirmPassword')?.getError('required')">confirm Password is required</p>
                            <p class="mb-0" *ngIf="resetForm.get('confirmPassword')?.getError('pattern')">Must be 6 char</p>
                        </div>
                        
                    </div>
                   
                </div>

                    
                <button [disabled]="resetForm.invalid" class="btn main text-white w-100">
                    <span *ngIf="isLoading == false">Reset Password</span>
                    <span *ngIf="isLoading == true"><i class="fa-solid fa-spinner text-white fa-spin"></i></span>
                </button>
            </form>

        </div>

    </div>
</section>

