#home{
    background-image: url(../../../../assets/images/Rectangle.svg);
    background: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #009247;
    border-radius: 15px;
    margin-top: 1rem;
}

#fillRecipe{
    background-color: #F0FFEF;
    border-radius: 15px;
    margin-top: 1rem;
    padding: 0px 1rem;
    
}